VITE_SUPABASE_URL=https://eqpsopvqwvydjkilmayn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxcHNvcHZxd3Z5ZGpraWxtYXluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NDMzMjAsImV4cCI6MjA5MDIxOTMyMH0.zirRCjPXrXLL3luW0U6oVxMKBWXQQ9L0G-EeJAqbLYM
VITE_BACKEND_URL=http://localhost:3001
